@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --animate-shake: shake 0.5s ease-in-out;

    --color-background: var(--color-zinc-950);
    --color-foreground: var(--color-white);
    --color-card: var(--color-zinc-900);
    --color-card-foreground: var(--color-white);
    --color-popover: var(--color-zinc-900);
    --color-popover-foreground: var(--color-white);
    --color-primary: var(--color-emerald-500);
    --color-primary-50: var(--color-emerald-50);
    --color-primary-100: var(--color-emerald-100);
    --color-primary-200: var(--color-emerald-200);
    --color-primary-300: var(--color-emerald-300);
    --color-primary-400: var(--color-emerald-400);
    --color-primary-500: var(--color-emerald-500);
    --color-primary-600: var(--color-emerald-600);
    --color-primary-700: var(--color-emerald-700);
    --color-primary-800: var(--color-emerald-800);
    --color-primary-900: var(--color-emerald-900);
    --color-primary-950: var(--color-emerald-950);
    --color-primary-foreground: var(--color-background);
    --color-secondary: color-mix(in oklch, var(--color-zinc-950), var(--color-zinc-900));
    --color-secondary-foreground: var(--color-zinc-300);
    --color-muted: var(--color-zinc-800);
    --color-muted-foreground: var(--color-zinc-400);
    --color-accent: var(--color-zinc-900);
    --color-accent-foreground: var(--color-white);
    --color-destructive: var(--color-red-500);
    --color-border: oklch(1 0 0 / 0.2);
    --color-input: oklch(1 0 0 / 0.2);
    --color-ring: var(--color-emerald-500);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    @keyframes shake {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-10px);
        }
        40% {
            transform: translateX(10px);
        }
        60% {
            transform: translateX(-10px);
        }
        80% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(0);
        }
    }
}

:root {
    --radius: 0.625rem;
}

@layer base {
    * {
        @apply border-border outline-0;
    }

    :focus-visible {
        @apply outline-2 outline-ring outline-offset-1;
    }

    body {
        @apply m-0 text-foreground bg-background;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}